<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="assimp_native" version="4.0.1" targetFramework="native" />
  <package id="assimp_native.redist" version="4.0.1" targetFramework="native" />
  <package id="directxmesh_desktop_win10" version="2018.11.17.4" targetFramework="native" />
  <package id="directxtex_desktop_win10" version="2018.11.20.1" targetFramework="native" />
  <package id="directxtk12_desktop_2015" version="2018.11.20.1" targetFramework="native" />
  <package id="unofficial-flayan-cereal" version="1.2.2" targetFramework="native" />
</packages>